@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center;background-color:green;font-size:45px;">
        <b>Klekchyan</b>
    </div>
    <div>
        <pre>
               Hi Sir/Madam
                    We just need to verify your Email address for complete your registration!
                    click<a href="@ViewBag.ConfirmationLink">Here</a>
        </pre>
    </div>
</body>
</html>
